<h1>Welcome to Music World</h1>


Menu
<ul>
	<li><%= link_to 'List of Record Label', record_label_index_path %></li>
	<li><%= link_to 'List of Artists', artist_index_path %></li>
	<li><%= link_to 'List of Songs', song_index_path %></li>
</ul> 


